* {
    box-sizing: border-box;
}
html{
    height:100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Header */
.main-header{
width: 100%;
background-color: #1F2937;
color:#F9FAF8;
position:relative;
  /* position: fixed;
  top: 0;
  left: 0; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 60;
}

.header-brand{
    font-size:1.5rem;
    color:#F9FAF8;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav-list{
    margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav_item{
    margin:0 1.2rem;
    
    
}
.main-nav_item a {
    text-decoration: none;
    color:#F9FAF8;
    padding:4px 8px;
}
.main-nav_item:hover,
.main-nav_item:active {
    color: #F9FAF8;
    border-bottom: 2px solid #F9FAF8;
    cursor: pointer;
}

main{
    width:100%;
}
/* Intro Section */
.intro{
    color:#F9FAF8;
    padding:100px 0;
    display:flex;
    justify-content: space-around;
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/beach.jpg") center/cover no-repeat border-box,
    #1F2937;
}
.intro-description{
    flex:0 1 40%;
}
.intro-description h1{
    font-size:48px;
    font-weight:bolder;
    margin-top:1rem;
    margin-bottom:0;
}
.intro-description p {
    color:#E5E7EB;
    font-size: 1.1rem;
}

.intro-description .myButton{
    background-color: #3882F6;
    padding:0.5rem 1.4rem;
    border-radius: 0.5rem;
    color:#F9FAF8;
 border:1px solid #F9FAF8;
font-size:1.1rem;
cursor:pointer;

}

/* Additional Info Section */
.additional-info{
    width:100%;
    margin-top:8rem;
}
.additional-info h3{
 color:#1F2937;
 font-size:36px;
 font-weight: bold;
}

.card-holder{
    width:100%;
    margin-top:4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.card{
display:flex;
flex-direction: column;
align-items: center;
 
}

.card img {
   border-radius:22px;
   border:0.3rem solid  #3882F6;
}

.card-text{

    padding: 0.5rem 0.5rem;
    width:70%;
}


/* Testimonial section */
.testimonial {
    margin-top:8rem;
    padding:2rem 0;
   background-color: #E5E7EB;
   font-size:1.8rem;
   color:#1F2937;
   font-style: italic;
}

.quote {
    width:70%;
    margin:0 auto;
    padding:20px 40px; 
}

/* Call to Action Section */
.call-to-action{
    width:70%;
    margin:0 auto;
    margin-top:8rem;
    display:flex;
    align-items: center;
    background-color: #3882F6;
    border-radius: 22px;
    padding:2rem ;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    
}

.call-to-action button{
background-color: #3882F6;
padding:0.5rem 1.4rem;
border-radius: 0.5rem;
    border:1px solid #F9FAF8;
    color:#F9FAF8;
    font-weight: bold;
   font-size:1.1rem;
   cursor:pointer;
}
.cta-text{
    margin:0 auto;
    color:#F9FAF8;
  
}


.main-footer{
    height:70px;
    background-color: #1F2937;
    margin-top:6rem;
    margin-bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-text{
   
    text-align: center;
    color:#F9FAF8;

}
